@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange-color:rgb(255,119,22);
    --light-grey-color:#808072;
    --background-color:rgb(34,34,34);
    --color-grey-paragraph:#808080;
}
body{
    font-family: "DM Sans", sans-serif;
    background: var(--background-dark)
}
html{
    scroll-behavior: smooth;
}
[theme = "dark"]{
    --color-text:#fff;
    --text:#fff;
    --contactTitle-descriptionProject:#fff;
    --color-whatsapp:#fff;
    --color-header:rgb(34,34,34);
    --background-color-dark:rgb(34,34,34);
    --color-grey-paragraph-dark:#808080;
    --light-grey-color:#808072;
    --subtitle:#fff;
    --border-skills:#fff;
    --background-div-skills:none;
    --background-dark: radial-gradient(circle,var(--background-color-dark) 0%, rgba(20,20,20,1) 100%);
}
[theme = "light"]{
    --color-text:#000;
    --text:#808072;
    --contactTitle-descriptionProject:#000;
    --color-whatsapp:#808072;
    --color-header:#767676;
    --background-color-light:#E9E9E9;
    --color-grey-paragraph-light:#E9E9E9;
    --light-grey-color:#808072;
    --subtitle:#808072;
    --border-skills:#9b9b9b83;
    --background-div-skills:#9b9b9b83;
    --background-light: radial-gradient(circle,var(--background-color-dark) 0%, rgba(20,20,20,1) 100%);
}