a{
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}
a:hover{
    color: var(--orange-color);
    transform: scale(1.05);
}
.logo{
    font-size: 2rem;
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    height: 8vh;
}
.nav__list{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
}
.mobile__menu{
    display: none;
    cursor: pointer;
}

@media(max-width:350px){
    .mobile__menu{
        display: block;
    }
    .nav__list{
        display: none;
    }
}
@media(max-width:425px){
    .nav__list{
        display: none;
    }
    .mobile__menu{
        display: block;
    }
    .mobile__menu div{
        width: 32px;
        height: 2px;
        background-color: #fff;
        margin: 8px;
    }
}