#Home{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 190px;
    margin-top: 4rem;
}
#cointainer__text{
    display: flex;
    flex-direction: column;
    text-align: start;
    line-height: 4rem;
    padding: 0 2rem;

    .container__text__saudacoes{
        font-weight: 800;
        font-size: 68px;
        color: white;
    }
    .container__text__name{
        color: var(--orange-color);
    }

    .container__text__paragraph{
        line-height: 1rem;
        color:var(--color-grey-paragraph);
    }
    .container__text__whats{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        width:fit-content;
        text-decoration: none;
        color: var(--orange-color);
        border: 1px solid var(--orange-color);
        border-radius: 18px;
        padding: 0 5rem;
        margin: 1rem 0;
        transition: transform 0.3s ease;
    }
    .container__text__whats:hover{
        transform: scale(1.05);
    }
    .icon-redes{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    
}
.container__avatar{
    .avatar{
        width: 650px;
        height: 650px;
        border-radius: 100%;
        border: 17px solid #222222;
    }
}

@media(max-width:1000px){
    #Home{
        flex-direction: column;
    }
    .avatar{
        display: none;
    }
}